.holder {
    display: grid;
    grid-template-columns: repeat(2, 100px); 
    grid-template-rows: repeat(2, 100px);   
    gap: 0px;                            
    width: 200px;                          
    height: 200px;                          
}

.item {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #011e29;
}
